.footer {
    background: linear-gradient(90deg, rgb(122, 72, 229) 35%, rgba(188, 191, 222, 1) 100%);
    padding: 20px 50px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-img {
    width: 80px;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 680px) {
    .footer {
        background-color: rgb(66, 66, 252);
    }

    .footer-img {
        width: 50px;
    }

    .footer-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}