.register-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.register-logo {
    width: 200px;
    height: 300px;
}

.div-height {
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}